.alert {
  background: #ffdddd;
  padding: 15px;
  border: 2px solid #e60000;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
  color: #b30000;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.alert.hidden {
  opacity: 0;
}
