.alert {
  background: #ffdddd;
  padding: 15px;
  border: 2px solid #e60000;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
  color: #b30000;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.alert.hidden {
  opacity: 0;
}
.sub-info {
    font-size: 14px;
    margin-top: 6px;
    opacity: 0.8;
    color: #e3f2fd;
}
.info-box {
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    background: #e3f5ff;
    padding: 15px 20px;
    border-left: 5px solid #0077cc;
    border-radius: 6px;
    font-size: 14px;
}
.chart-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 8px;
    color: #003366;
}

.chart-desc {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-size: 14px;
    opacity: 0.8;
}
