<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WaterSense – Live IoT Water Quality Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <h1> WaterSense – Real-Time Water Quality Dashboard</h1>

  <div class="cards">
    <div class="card" id="phCard">pH: <span id="ph">--</span></div>
    <div class="card" id="turbCard">Turbidity: <span id="turbidity">--</span></div>
    <div class="card" id="tempCard">Temperature: <span id="temp">--</span></div>
    <div class="card" id="tdsCard">TDS: <span id="tds">--</span></div>
  </div>

  <div id="alertBox" class="alert hidden">
     Water Quality Warning: <span id="alertMsg"></span>
  </div>

  <canvas id="chart" width="800" height="300"></canvas>

  <script src="/static/script.js"></script>

</body>
</html>
